<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<h1>Welcome to the page</h1>
</head>
<body>
<h1>Examination Details</h1>
<table border="1"> 
    <tr>
        <th>Course Code</th>
        <th>Course name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Room</th>
    </tr>
    <tr>
        <td>BSL902</td>
        <td>Persnol taxtation</td>
        <td>29-02-2020</td>
        <td>10-11:30</td>
        <td>57-605</td>
    </tr>
</table>
</body>