<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<h1>Welcome to the page</h1>
</head>
<body>
<table border="1">
    <tr>
        <th>Course code</th>
        <th>Course name</th>
        <th>Term  ID</th>
        <th>Grade</th>
    </tr>
    <tr>
        <td>P124</td>
        <td>BCA</td>
        <td>21718</td>
        <td>A</td>
    </tr>
</table>
</body>