<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<h1>Welcome to the page</h1>
</head>
<body>
<h1>Course wise result</h1>
<p>Registration No.:11712911 </p>
<p>Name:Siddhartha</p>
<p>Batch:2017</p>
<p>Term Id:21771</p>
<p>Course Code:cap902</p>
<p>Grade:A</p>
</body>